H0: There is no difference in network latency compared to previous network provider.

Ha: Network latency has gone down since changing internet provider.

HO: Internet traffic and click through ratio is not better with redeigned website compared to old website. 

Ha: Internet traffic and click through ratio is better compared to redeigned website to old website.

H0: Our sales have not gone up since TV ad started so it must be not driving more sales.

Ha: Our sales has gone up since our TV ad started do it is driving more sales.

T-Test Exercises 

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. 

A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 

50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [7]:
import matplotlib as mpl
import numpy as np
import scipy.stats as stats
import seaborn as sns
import pandas as pd


office_1_sample = 40
office_1_mean_days = 90
office_1_std =  15
office_2_sample = 50
office_2_mean_days = 100
office_2_std = 20  
level_of_signif = .05

home_office = np.random.normal((office_1_mean_days, office_1_std),(office_2_mean_days, office_2_std), size=(10_000,2))
home_office_df = pd.DataFrame(home_office, columns=['office one', 'office two'])
home_office_df

      office one  office two
0      34.076787  -13.749886
1       1.752454   -5.216283
2      21.179550   46.680730
3      81.667321   11.917605
4     114.496112    7.063112
...          ...         ...
9995  -90.278631  -17.076030
9996  108.191173  -16.693500
9997  133.862710   26.583760
9998  -48.145172   28.111629
9999  108.756230   26.648788

[10000 rows x 2 columns]